In [77]:
import pandas as pd
import numpy as np

# Import Australia Batting Data set

In [78]:
df1=pd.read_csv(r"C:\Users\Gayan\Downloads\AUS batting.csv")

In [79]:
df1.head()

        Player  Mat  Inns  NO  Runs  HS    Ave   BF     SR  100  50  0  4s  6s
0  CT Bancroft    2     4   0    44  16  11.00  162  27.16    0   0  0   6   0
1     JA Burns    7    12   1   319  97  29.00  683  46.70    0   3  2  33   4
2   PJ Cummins   14    20   3   180  28  10.58  568  31.69    0   0  5  18   1
3      C Green    4     7   0   236  84  33.71  580  40.68    0   1  1  23   4
4    MS Harris    4     8   0   101  38  12.62  226  44.69    0   0  0  17   0

# Remove Unnecessary Columns (Bat)

In [80]:
df2=df1.drop(columns=['NO','BF','0','4s','6s'])
df2.head()

        Player  Mat  Inns  Runs  HS    Ave     SR  100  50
0  CT Bancroft    2     4    44  16  11.00  27.16    0   0
1     JA Burns    7    12   319  97  29.00  46.70    0   3
2   PJ Cummins   14    20   180  28  10.58  31.69    0   0
3      C Green    4     7   236  84  33.71  40.68    0   1
4    MS Harris    4     8   101  38  12.62  44.69    0   0

# Import Australia Bowling Data Set

In [81]:
df3=pd.read_csv(r"C:\Users\Gayan\Downloads\AUS bowling.csv")
df3.head()

,Player,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,BBM,Ave,Econ,SR,5,10,Ct,St
0,CT Bancroft,2,-,-,-,-,-,-,-,-,-,-,-,-,5,0
1,JA Burns,7,-,-,-,-,-,-,-,-,-,-,-,-,5,0
2,PJ Cummins,14,28,555.3,158,1472,70,5/28,7/69,21.02,2.64,47.6,1,0,7,0
3,C Green,4,6,44.0,7,118,0,-,-,-,2.68,-,0,0,5,0
4,MS Harris,4,-,-,-,-,-,-,-,-,-,-,-,-,0,0

# Remove Unnecessary Columns(Ball)

In [82]:
df4=df3.drop(columns=['Mat','Inns','Overs','Mdns','Runs','Ct','St'])
df4.head()

        Player Wkts   BBI   BBM    Ave  Econ    SR  5 10
0  CT Bancroft    -     -     -      -     -     -  -  -
1     JA Burns    -     -     -      -     -     -  -  -
2   PJ Cummins   70  5/28  7/69  21.02  2.64  47.6  1  0
3      C Green    0     -     -      -  2.68     -  0  0
4    MS Harris    -     -     -      -     -     -  -  -

# Joing batting and Bowling data sets

In [83]:
df5=pd.merge(df2, df4, on='Player')
df5

,Player,Mat,Inns,Runs,HS,Ave_x,SR_x,100,50,Wkts,BBI,BBM,Ave_y,Econ,SR_y,5,10
0,CT Bancroft,2,4,44,16,11.00,27.16,0,0,-,-,-,-,-,-,-,-
1,JA Burns,7,12,319,97,29.00,46.70,0,3,-,-,-,-,-,-,-,-
2,PJ Cummins,14,20,180,28,10.58,31.69,0,0,70,5/28,7/69,21.02,2.64,47.6,1,0
3,C Green,4,7,236,84,33.71,40.68,0,1,0,-,-,-,2.68,-,0,0
4,MS Harris,4,8,101,38,12.62,44.69,0,0,-,-,-,-,-,-,-,-
5,JR Hazlewood,11,13,57,11,9.50,57.00,0,0,48,5/8,9/115,20.54,2.55,48.1,3,0
6,TM Head,11,17,490,114,30.62,47.89,1,2,0,-,-,-,3.10,-,0,0
7,UT Khawaja,3,6,122,40,20.33,64.89,0,0,-,-,-,-,-,-,-,-
8,M Labuschagne,13,23,1675,215,72.82,55.85,5,9,3,1/9,1/9,85.33,3.32,154.0,0,0
9,NM Lyon,14,18,178,26,13.69,64.72,0,0,56,6/49,10/118,31.37,2.78,67.5,4,1
10,MR Marsh,1,2,41,24,20.50,36.93,0,0,7,5/46,7/86,12.28,2.93,25.1,1,0
11,TD Paine,14,22,550,79,28.94,51.06,0,4,-,-,-,-,-,-,-,-
12,JL Pattinson,4,6,85,47,21.25,62.04,0,0,11,3/34,6/69,27.45,2.64,62.1,0,0
13,WJ Pucovski,1,2,72,62,36.00,57.14,0,1,-,-,-,-,-,-,-,-
14,PM Siddle,3,4,84,44,28.00,48.55,0,0,7,2/52,3/102,42.14,3.04,83.1,0,0
15,SPD Smith,13,22,1341,211,63.85,53.44,4,7,0,-,-,-,3.85,-,0,0
16,MA Starc,10,13,219,54,24.33,71.33,0,1,44,6/66,9/97,24.54,3.17,46.4,2,0
17,MS Wade,14,25,727,117,31.60,53.69,2,1,0,-,-,-,7.00,-,0,0
18,DA Warner,12,22,948,335,47.40,62.40,3,1,-,-,-,-,-,-,-,-

# Create column with country

In [84]:
df_AUS=df5.assign(Country = ['Australia']*19)
df_AUS

,Player,Mat,Inns,Runs,HS,Ave_x,SR_x,100,50,Wkts,BBI,BBM,Ave_y,Econ,SR_y,5,10,Country
0,CT Bancroft,2,4,44,16,11.00,27.16,0,0,-,-,-,-,-,-,-,-,Australia
1,JA Burns,7,12,319,97,29.00,46.70,0,3,-,-,-,-,-,-,-,-,Australia
2,PJ Cummins,14,20,180,28,10.58,31.69,0,0,70,5/28,7/69,21.02,2.64,47.6,1,0,Australia
3,C Green,4,7,236,84,33.71,40.68,0,1,0,-,-,-,2.68,-,0,0,Australia
4,MS Harris,4,8,101,38,12.62,44.69,0,0,-,-,-,-,-,-,-,-,Australia
5,JR Hazlewood,11,13,57,11,9.50,57.00,0,0,48,5/8,9/115,20.54,2.55,48.1,3,0,Australia
6,TM Head,11,17,490,114,30.62,47.89,1,2,0,-,-,-,3.10,-,0,0,Australia
7,UT Khawaja,3,6,122,40,20.33,64.89,0,0,-,-,-,-,-,-,-,-,Australia
8,M Labuschagne,13,23,1675,215,72.82,55.85,5,9,3,1/9,1/9,85.33,3.32,154.0,0,0,Australia
9,NM Lyon,14,18,178,26,13.69,64.72,0,0,56,6/49,10/118,31.37,2.78,67.5,4,1,Australia
10,MR Marsh,1,2,41,24,20.50,36.93,0,0,7,5/46,7/86,12.28,2.93,25.1,1,0,Australia
11,TD Paine,14,22,550,79,28.94,51.06,0,4,-,-,-,-,-,-,-,-,Australia
12,JL Pattinson,4,6,85,47,21.25,62.04,0,0,11,3/34,6/69,27.45,2.64,62.1,0,0,Australia
13,WJ Pucovski,1,2,72,62,36.00,57.14,0,1,-,-,-,-,-,-,-,-,Australia
14,PM Siddle,3,4,84,44,28.00,48.55,0,0,7,2/52,3/102,42.14,3.04,83.1,0,0,Australia
15,SPD Smith,13,22,1341,211,63.85,53.44,4,7,0,-,-,-,3.85,-,0,0,Australia
16,MA Starc,10,13,219,54,24.33,71.33,0,1,44,6/66,9/97,24.54,3.17,46.4,2,0,Australia
17,MS Wade,14,25,727,117,31.60,53.69,2,1,0,-,-,-,7.00,-,0,0,Australia
18,DA Warner,12,22,948,335,47.40,62.40,3,1,-,-,-,-,-,-,-,-,Australia

# Bangaladesh

In [85]:
df6=pd.read_csv(r"C:\Users\Gayan\Downloads\Bangladesh batting.csv")
df7=df6.drop(columns=['Span','NO','BF','0','4s','6s'])
df7

                   Player  Mat  Inns  Runs   HS    Ave     SR  100  50
0               Abu Jayed    6    10    17   7*   3.40  23.28    0   0
1         Al-Amin Hossain    1     2    22   21  22.00  91.66    0   0
2          Ebadat Hossain    4     6     4    2   1.00  14.28    0   0
3             Imrul Kayes    2     4    21    6   5.25  34.42    0   0
4               Liton Das    7    12   417   71  37.90  61.96    0   3
5             Mahmudullah    3     6    95  39*  19.00  53.97    0   0
6      Mehidy Hasan Miraz    6    11   317  103  28.81  52.83    1   1
7         Mohammad Mithun    4     8   125   63  15.62  38.34    0   1
8           Mominul Haque    7    14   534  127  41.07  44.76    2   0
9         Mushfiqur Rahim    6    11   453   74  45.30  51.01    0   4
10      Mustafizur Rahman    1     1     3   3*      -  27.27    0   0
11           Nayeem Hasan    3     5    58   24  14.50  59.18    0   0
12  Najmul Hossain Shanto    5    10   311  163  31.10  42.95    1   0
13          Rubel Hossain    1     2     6    5   3.00  17.14    0   0
14            Saif Hassan    3     6    76   34  12.66  51.00    0   0
15          Shadman Islam    3     6   105   59  17.50  34.88    0   1
16        Shakib Al Hasan    1     1    68   68  68.00  45.33    0   1
17         Shoriful Islam    1     2     0   0*   0.00   0.00    0   0
18          Soumya Sarkar    1     2    13   13   6.50  34.21    0   0
19           Taijul Islam    7    12    97   24   8.81  27.09    0   0
20            Tamim Iqbal    5    10   420   92  46.66  75.94    0   4
21           Taskin Ahmed    2     3    13    7   6.50  24.52    0   0

In [86]:
df8=pd.read_csv(r"C:\Users\Gayan\Downloads\Bangladesh bowling.csv")
df9=df8.drop(columns=['Span','Mat','Inns','Overs','Mdns','Runs','Ct','St'])
df9

                   Player Wkts    BBI    BBM    Ave  Econ     SR  5 10
0               Abu Jayed   15   4/98  6/130  36.40  3.54   61.6  0  0
1         Al-Amin Hossain    3   3/85   3/85  28.33  3.75   45.3  0  0
2          Ebadat Hossain    6   3/91   3/91  67.00  4.10   98.0  0  0
3             Imrul Kayes    -      -      -      -     -      -  -  -
4               Liton Das    -      -      -      -     -      -  -  -
5             Mahmudullah    0      -      -      -  6.00      -  0  0
6      Mehidy Hasan Miraz   15   4/58  8/171  48.73  3.11   94.0  0  0
7         Mohammad Mithun    -      -      -      -     -      -  -  -
8           Mominul Haque    0      -      -      -  4.50      -  0  0
9         Mushfiqur Rahim    -      -      -      -     -      -  -  -
10      Mustafizur Rahman    2   2/46  2/117  58.50  4.17   84.0  0  0
11           Nayeem Hasan    6   3/34  3/108  44.50  2.95   90.3  0  0
12  Najmul Hossain Shanto    -      -      -      -     -      -  -  -
13          Rubel Hossain    3  3/113  3/113  37.66  4.37   51.6  0  0
14            Saif Hassan    1   1/22   1/22  27.00  4.50   36.0  0  0
15          Shadman Islam    -      -      -      -     -      -  -  -
16        Shakib Al Hasan    0      -      -      -  2.66      -  0  0
17         Shoriful Islam    1   1/91   1/99  99.00  3.30  180.0  0  0
18          Soumya Sarkar    1   1/48   1/48  48.00  4.36   66.0  0  0
19           Taijul Islam   23   5/72  8/144  42.43  2.85   89.1  1  0
20            Tamim Iqbal    -      -      -      -     -      -  -  -
21           Taskin Ahmed    8  4/127  5/153  33.12  3.87   51.2  0  0

In [87]:
df10=pd.merge(df7, df9, on='Player')
df10

,Player,Mat,Inns,Runs,HS,Ave_x,SR_x,100,50,Wkts,BBI,BBM,Ave_y,Econ,SR_y,5,10
0,Abu Jayed,6,10,17,7*,3.40,23.28,0,0,15,4/98,6/130,36.40,3.54,61.6,0,0
1,Al-Amin Hossain,1,2,22,21,22.00,91.66,0,0,3,3/85,3/85,28.33,3.75,45.3,0,0
2,Ebadat Hossain,4,6,4,2,1.00,14.28,0,0,6,3/91,3/91,67.00,4.10,98.0,0,0
3,Imrul Kayes,2,4,21,6,5.25,34.42,0,0,-,-,-,-,-,-,-,-
4,Liton Das,7,12,417,71,37.90,61.96,0,3,-,-,-,-,-,-,-,-
5,Mahmudullah,3,6,95,39*,19.00,53.97,0,0,0,-,-,-,6.00,-,0,0
6,Mehidy Hasan Miraz,6,11,317,103,28.81,52.83,1,1,15,4/58,8/171,48.73,3.11,94.0,0,0
7,Mohammad Mithun,4,8,125,63,15.62,38.34,0,1,-,-,-,-,-,-,-,-
8,Mominul Haque,7,14,534,127,41.07,44.76,2,0,0,-,-,-,4.50,-,0,0
9,Mushfiqur Rahim,6,11,453,74,45.30,51.01,0,4,-,-,-,-,-,-,-,-
10,Mustafizur Rahman,1,1,3,3*,-,27.27,0,0,2,2/46,2/117,58.50,4.17,84.0,0,0
11,Nayeem Hasan,3,5,58,24,14.50,59.18,0,0,6,3/34,3/108,44.50,2.95,90.3,0,0
12,Najmul Hossain Shanto,5,10,311,163,31.10,42.95,1,0,-,-,-,-,-,-,-,-
13,Rubel Hossain,1,2,6,5,3.00,17.14,0,0,3,3/113,3/113,37.66,4.37,51.6,0,0
14,Saif Hassan,3,6,76,34,12.66,51.00,0,0,1,1/22,1/22,27.00,4.50,36.0,0,0
15,Shadman Islam,3,6,105,59,17.50,34.88,0,1,-,-,-,-,-,-,-,-
16,Shakib Al Hasan,1,1,68,68,68.00,45.33,0,1,0,-,-,-,2.66,-,0,0
17,Shoriful Islam,1,2,0,0*,0.00,0.00,0,0,1,1/91,1/99,99.00,3.30,180.0,0,0
18,Soumya Sarkar,1,2,13,13,6.50,34.21,0,0,1,1/48,1/48,48.00,4.36,66.0,0,0
19,Taijul Islam,7,12,97,24,8.81,27.09,0,0,23,5/72,8/144,42.43,2.85,89.1,1,0
20,Tamim Iqbal,5,10,420,92,46.66,75.94,0,4,-,-,-,-,-,-,-,-
21,Taskin Ahmed,2,3,13,7,6.50,24.52,0,0,8,4/127,5/153,33.12,3.87,51.2,0,0

In [88]:
df_BAN=df10.assign(Country = ['Bangaladesh']*22)
df_BAN

,Player,Mat,Inns,Runs,HS,Ave_x,SR_x,100,50,Wkts,BBI,BBM,Ave_y,Econ,SR_y,5,10,Country
0,Abu Jayed,6,10,17,7*,3.40,23.28,0,0,15,4/98,6/130,36.40,3.54,61.6,0,0,Bangaladesh
1,Al-Amin Hossain,1,2,22,21,22.00,91.66,0,0,3,3/85,3/85,28.33,3.75,45.3,0,0,Bangaladesh
2,Ebadat Hossain,4,6,4,2,1.00,14.28,0,0,6,3/91,3/91,67.00,4.10,98.0,0,0,Bangaladesh
3,Imrul Kayes,2,4,21,6,5.25,34.42,0,0,-,-,-,-,-,-,-,-,Bangaladesh
4,Liton Das,7,12,417,71,37.90,61.96,0,3,-,-,-,-,-,-,-,-,Bangaladesh
5,Mahmudullah,3,6,95,39*,19.00,53.97,0,0,0,-,-,-,6.00,-,0,0,Bangaladesh
6,Mehidy Hasan Miraz,6,11,317,103,28.81,52.83,1,1,15,4/58,8/171,48.73,3.11,94.0,0,0,Bangaladesh
7,Mohammad Mithun,4,8,125,63,15.62,38.34,0,1,-,-,-,-,-,-,-,-,Bangaladesh
8,Mominul Haque,7,14,534,127,41.07,44.76,2,0,0,-,-,-,4.50,-,0,0,Bangaladesh
9,Mushfiqur Rahim,6,11,453,74,45.30,51.01,0,4,-,-,-,-,-,-,-,-,Bangaladesh
10,Mustafizur Rahman,1,1,3,3*,-,27.27,0,0,2,2/46,2/117,58.50,4.17,84.0,0,0,Bangaladesh
11,Nayeem Hasan,3,5,58,24,14.50,59.18,0,0,6,3/34,3/108,44.50,2.95,90.3,0,0,Bangaladesh
12,Najmul Hossain Shanto,5,10,311,163,31.10,42.95,1,0,-,-,-,-,-,-,-,-,Bangaladesh
13,Rubel Hossain,1,2,6,5,3.00,17.14,0,0,3,3/113,3/113,37.66,4.37,51.6,0,0,Bangaladesh
14,Saif Hassan,3,6,76,34,12.66,51.00,0,0,1,1/22,1/22,27.00,4.50,36.0,0,0,Bangaladesh
15,Shadman Islam,3,6,105,59,17.50,34.88,0,1,-,-,-,-,-,-,-,-,Bangaladesh
16,Shakib Al Hasan,1,1,68,68,68.00,45.33,0,1,0,-,-,-,2.66,-,0,0,Bangaladesh
17,Shoriful Islam,1,2,0,0*,0.00,0.00,0,0,1,1/91,1/99,99.00,3.30,180.0,0,0,Bangaladesh
18,Soumya Sarkar,1,2,13,13,6.50,34.21,0,0,1,1/48,1/48,48.00,4.36,66.0,0,0,Bangaladesh
19,Taijul Islam,7,12,97,24,8.81,27.09,0,0,23,5/72,8/144,42.43,2.85,89.1,1,0,Bangaladesh
20,Tamim Iqbal,5,10,420,92,46.66,75.94,0,4,-,-,-,-,-,-,-,-,Bangaladesh
21,Taskin Ahmed,2,3,13,7,6.50,24.52,0,0,8,4/127,5/153,33.12,3.87,51.2,0,0,Bangaladesh

# England

In [89]:
df11=pd.read_csv(r"C:\Users\Gayan\Downloads\England batting.csv")
df12=df11.drop(columns=['Span','NO','BF','0','4s','6s'])

In [90]:
df13=pd.read_csv(r"C:\Users\Gayan\Downloads\England bowling.csv")
df14=df13.drop(columns=['Span','Mat','Inns','Overs','Mdns','Runs','Ct','St'])

In [91]:
df15=pd.merge(df12, df14, on='Player')
df15

,Player,Mat,Inns,Runs,HS,Ave_x,SR_x,100,50,Wkts,BBI,BBM,Ave_y,Econ,SR_y,5,10
0,MM Ali,2,4,53,43,13.25,65.43,0,0,11,4/98,8/226,36.18,3.86,56.1,0,0
1,JM Anderson,13,18,60,11,6.66,38.46,0,0,43,6/40,7/63,19.23,2.29,50.2,3,0
2,JC Archer,11,17,113,23,6.64,46.88,0,0,40,6/45,8/85,27.37,3.10,52.9,3,0
3,JM Bairstow,11,22,450,52,22.50,48.64,0,1,-,-,-,-,-,-,-,-
4,DM Bess,12,16,208,34,18.90,42.02,0,0,33,5/30,8/130,33.39,2.85,70.0,2,0
5,SCJ Broad,18,27,270,62,16.87,72.58,0,1,70,6/31,10/67,21.05,2.81,44.9,2,1
6,RJ Burns,15,27,813,133,30.11,44.96,1,5,-,-,-,-,-,-,-,-
7,JC Buttler,19,33,980,152,31.61,52.65,1,4,-,-,-,-,-,-,-,-
8,Z Crawley,12,21,715,267,34.04,54.33,1,4,-,-,-,-,-,-,-,-
9,SM Curran,10,14,251,44,19.30,72.54,0,0,20,4/58,5/109,35.45,3.17,66.9,0,0
10,JL Denly,10,19,569,94,29.94,38.91,0,4,2,2/42,2/42,81.00,3.30,147.0,0,0
11,BT Foakes,3,6,78,42*,15.60,30.00,0,0,-,-,-,-,-,-,-,-
12,DW Lawrence,6,12,273,73,24.81,45.95,0,2,0,-,-,-,5.66,-,0,0
13,MJ Leach,10,17,107,21,8.91,26.81,0,0,40,5/122,6/177,29.55,3.16,56.0,1,0
14,C Overton,1,2,26,21,13.00,21.66,0,0,2,2/85,2/107,53.50,3.16,101.5,0,0
15,OJ Pope,13,22,634,135*,33.36,53.45,1,4,-,-,-,-,-,-,-,-
16,OE Robinson,1,2,15,15,7.50,100.00,0,0,5,5/85,5/106,21.20,3.43,37.0,1,0
17,JE Root,21,39,1833,228,49.54,55.26,4,9,16,5/8,5/33,32.12,3.20,60.0,1,0
18,JJ Roy,4,8,110,31,13.75,48.03,0,0,-,-,-,-,-,-,-,-
19,DP Sibley,17,30,890,133*,31.78,35.03,2,4,0,-,-,-,7.00,-,0,0
20,BA Stokes,17,32,1334,176,46.00,57.79,4,6,34,4/49,6/88,26.26,3.28,47.9,0,0
21,OP Stone,1,2,1,1,0.50,11.11,0,0,4,3/47,4/68,17.00,3.00,34.0,0,0
22,CR Woakes,10,14,296,84*,24.66,56.06,0,1,30,5/50,6/107,25.46,2.94,51.8,1,0
23,MA Wood,5,7,105,42,17.50,92.10,0,0,17,5/46,9/100,25.11,2.89,52.0,1,0

In [92]:
df_ENG=df15.assign(Country = ['England']*24)
df_ENG

,Player,Mat,Inns,Runs,HS,Ave_x,SR_x,100,50,Wkts,BBI,BBM,Ave_y,Econ,SR_y,5,10,Country
0,MM Ali,2,4,53,43,13.25,65.43,0,0,11,4/98,8/226,36.18,3.86,56.1,0,0,England
1,JM Anderson,13,18,60,11,6.66,38.46,0,0,43,6/40,7/63,19.23,2.29,50.2,3,0,England
2,JC Archer,11,17,113,23,6.64,46.88,0,0,40,6/45,8/85,27.37,3.10,52.9,3,0,England
3,JM Bairstow,11,22,450,52,22.50,48.64,0,1,-,-,-,-,-,-,-,-,England
4,DM Bess,12,16,208,34,18.90,42.02,0,0,33,5/30,8/130,33.39,2.85,70.0,2,0,England
5,SCJ Broad,18,27,270,62,16.87,72.58,0,1,70,6/31,10/67,21.05,2.81,44.9,2,1,England
6,RJ Burns,15,27,813,133,30.11,44.96,1,5,-,-,-,-,-,-,-,-,England
7,JC Buttler,19,33,980,152,31.61,52.65,1,4,-,-,-,-,-,-,-,-,England
8,Z Crawley,12,21,715,267,34.04,54.33,1,4,-,-,-,-,-,-,-,-,England
9,SM Curran,10,14,251,44,19.30,72.54,0,0,20,4/58,5/109,35.45,3.17,66.9,0,0,England
10,JL Denly,10,19,569,94,29.94,38.91,0,4,2,2/42,2/42,81.00,3.30,147.0,0,0,England
11,BT Foakes,3,6,78,42*,15.60,30.00,0,0,-,-,-,-,-,-,-,-,England
12,DW Lawrence,6,12,273,73,24.81,45.95,0,2,0,-,-,-,5.66,-,0,0,England
13,MJ Leach,10,17,107,21,8.91,26.81,0,0,40,5/122,6/177,29.55,3.16,56.0,1,0,England
14,C Overton,1,2,26,21,13.00,21.66,0,0,2,2/85,2/107,53.50,3.16,101.5,0,0,England
15,OJ Pope,13,22,634,135*,33.36,53.45,1,4,-,-,-,-,-,-,-,-,England
16,OE Robinson,1,2,15,15,7.50,100.00,0,0,5,5/85,5/106,21.20,3.43,37.0,1,0,England
17,JE Root,21,39,1833,228,49.54,55.26,4,9,16,5/8,5/33,32.12,3.20,60.0,1,0,England
18,JJ Roy,4,8,110,31,13.75,48.03,0,0,-,-,-,-,-,-,-,-,England
19,DP Sibley,17,30,890,133*,31.78,35.03,2,4,0,-,-,-,7.00,-,0,0,England
20,BA Stokes,17,32,1334,176,46.00,57.79,4,6,34,4/49,6/88,26.26,3.28,47.9,0,0,England
21,OP Stone,1,2,1,1,0.50,11.11,0,0,4,3/47,4/68,17.00,3.00,34.0,0,0,England
22,CR Woakes,10,14,296,84*,24.66,56.06,0,1,30,5/50,6/107,25.46,2.94,51.8,1,0,England
23,MA Wood,5,7,105,42,17.50,92.10,0,0,17,5/46,9/100,25.11,2.89,52.0,1,0,England

# India

In [93]:
df16=pd.read_csv(r"C:\Users\Gayan\Downloads\India batting.csv")
df17=df16.drop(columns=['Span','NO','BF','0','4s','6s'])

In [94]:
df18=pd.read_csv(r"C:\Users\Gayan\Downloads\India bowling.csv")
df19=df18.drop(columns=['Span','Mat','Inns','Overs','Mdns','Runs','Ct','St'])

In [95]:
df20=pd.merge(df17, df19, on='Player')
df20

,Player,Mat,Inns,Runs,HS,Ave_x,SR_x,100,50,Wkts,BBI,BBM,Ave_y,Econ,SR_y,5,10
0,MA Agarwal,12,20,857,243,42.85,55.07,3,2,-,-,-,-,-,-,-,-
1,R Ashwin,14,18,324,106,20.25,47.23,1,0,71,7/145,9/207,20.33,2.62,46.4,4,0
2,JJ Bumrah,11,16,57,28,5.18,44.53,0,0,43,6/27,9/110,22.41,2.73,49.2,3,0
3,RA Jadeja,12,16,556,91,50.54,54.72,0,6,29,4/62,6/211,30.96,2.92,63.6,0,0
4,V Kohli,16,25,934,254*,40.60,54.14,2,5,0,-,-,-,4.00,-,0,0
5,Kuldeep Yadav,1,2,3,3,1.50,12.50,0,0,2,2/25,2/41,20.50,3.32,37.0,0,0
6,Mohammed Shami,12,13,95,21,11.87,94.05,0,0,44,5/35,7/58,20.88,2.97,42.1,1,0
7,Mohammed Siraj,6,7,46,16*,11.50,82.14,0,0,19,5/73,6/150,30.73,2.95,62.3,1,0
8,S Nadeem,2,3,1,1*,0.50,3.33,0,0,8,2/18,4/40,34.12,3.57,57.2,0,0
9,T Natarajan,1,1,1,1*,-,11.11,0,0,3,3/78,3/119,39.66,3.10,76.6,0,0
10,RR Pant,13,21,732,101,38.52,67.34,1,4,-,-,-,-,-,-,-,-
11,AR Patel,3,4,55,43,13.75,41.98,0,0,27,6/38,11/70,10.59,2.24,28.3,4,1
12,CA Pujara,19,32,857,81,27.64,35.93,0,9,-,-,-,-,-,-,-,-
13,AM Rahane,19,31,1164,115,41.57,46.95,3,6,-,-,-,-,-,-,-,-
14,KL Rahul,3,6,211,84,35.16,40.34,0,1,-,-,-,-,-,-,-,-
15,WP Saha,6,6,87,24,17.40,57.61,0,0,-,-,-,-,-,-,-,-
16,NA Saini,2,3,8,5,4.00,29.62,0,0,4,2/54,4/119,43.00,4.11,62.7,0,0
17,I Sharma,12,13,124,57,12.40,43.66,0,1,39,5/22,9/78,17.79,2.78,38.3,3,0
18,RG Sharma,13,21,1142,212,60.10,60.51,4,2,0,-,-,-,2.69,-,0,0
19,PP Shaw,3,6,102,54,17.00,71.83,0,1,-,-,-,-,-,-,-,-
20,Shubman Gill,8,15,414,91,31.84,55.87,0,3,-,-,-,-,-,-,-,-
21,SN Thakur,2,3,69,67,23.00,55.64,0,1,11,4/61,7/155,21.18,3.37,37.6,0,0
22,GH Vihari,8,14,457,111,38.08,45.33,1,3,0,-,-,-,4.00,-,0,0
23,Washington Sundar,4,6,265,96*,66.25,52.78,0,3,6,3/89,4/169,49.83,3.41,87.6,0,0
24,UT Yadav,7,8,76,31,12.66,100.00,0,0,29,5/53,8/82,18.55,3.35,33.1,1,0

In [96]:
df_IND=df20.assign(Country = ['India']*25)
df_IND

,Player,Mat,Inns,Runs,HS,Ave_x,SR_x,100,50,Wkts,BBI,BBM,Ave_y,Econ,SR_y,5,10,Country
0,MA Agarwal,12,20,857,243,42.85,55.07,3,2,-,-,-,-,-,-,-,-,India
1,R Ashwin,14,18,324,106,20.25,47.23,1,0,71,7/145,9/207,20.33,2.62,46.4,4,0,India
2,JJ Bumrah,11,16,57,28,5.18,44.53,0,0,43,6/27,9/110,22.41,2.73,49.2,3,0,India
3,RA Jadeja,12,16,556,91,50.54,54.72,0,6,29,4/62,6/211,30.96,2.92,63.6,0,0,India
4,V Kohli,16,25,934,254*,40.60,54.14,2,5,0,-,-,-,4.00,-,0,0,India
5,Kuldeep Yadav,1,2,3,3,1.50,12.50,0,0,2,2/25,2/41,20.50,3.32,37.0,0,0,India
6,Mohammed Shami,12,13,95,21,11.87,94.05,0,0,44,5/35,7/58,20.88,2.97,42.1,1,0,India
7,Mohammed Siraj,6,7,46,16*,11.50,82.14,0,0,19,5/73,6/150,30.73,2.95,62.3,1,0,India
8,S Nadeem,2,3,1,1*,0.50,3.33,0,0,8,2/18,4/40,34.12,3.57,57.2,0,0,India
9,T Natarajan,1,1,1,1*,-,11.11,0,0,3,3/78,3/119,39.66,3.10,76.6,0,0,India
10,RR Pant,13,21,732,101,38.52,67.34,1,4,-,-,-,-,-,-,-,-,India
11,AR Patel,3,4,55,43,13.75,41.98,0,0,27,6/38,11/70,10.59,2.24,28.3,4,1,India
12,CA Pujara,19,32,857,81,27.64,35.93,0,9,-,-,-,-,-,-,-,-,India
13,AM Rahane,19,31,1164,115,41.57,46.95,3,6,-,-,-,-,-,-,-,-,India
14,KL Rahul,3,6,211,84,35.16,40.34,0,1,-,-,-,-,-,-,-,-,India
15,WP Saha,6,6,87,24,17.40,57.61,0,0,-,-,-,-,-,-,-,-,India
16,NA Saini,2,3,8,5,4.00,29.62,0,0,4,2/54,4/119,43.00,4.11,62.7,0,0,India
17,I Sharma,12,13,124,57,12.40,43.66,0,1,39,5/22,9/78,17.79,2.78,38.3,3,0,India
18,RG Sharma,13,21,1142,212,60.10,60.51,4,2,0,-,-,-,2.69,-,0,0,India
19,PP Shaw,3,6,102,54,17.00,71.83,0,1,-,-,-,-,-,-,-,-,India
20,Shubman Gill,8,15,414,91,31.84,55.87,0,3,-,-,-,-,-,-,-,-,India
21,SN Thakur,2,3,69,67,23.00,55.64,0,1,11,4/61,7/155,21.18,3.37,37.6,0,0,India
22,GH Vihari,8,14,457,111,38.08,45.33,1,3,0,-,-,-,4.00,-,0,0,India
23,Washington Sundar,4,6,265,96*,66.25,52.78,0,3,6,3/89,4/169,49.83,3.41,87.6,0,0,India
24,UT Yadav,7,8,76,31,12.66,100.00,0,0,29,5/53,8/82,18.55,3.35,33.1,1,0,India

# New Zeland

In [97]:
df21=pd.read_csv(r"C:\Users\Gayan\Downloads\NZ batting.csv")
df22=df21.drop(columns=['Span','NO','BF','0','4s','6s'])

In [98]:
df23=pd.read_csv(r"C:\Users\Gayan\Downloads\NZ bowling.csv")
df24=df23.drop(columns=['Span','Mat','Inns','Overs','Mdns','Runs','Ct','St'])

In [99]:
df25=pd.merge(df22, df24, on='Player')
df25

,Player,Mat,Inns,Runs,HS,Ave_x,SR_x,100,50,Wkts,BBI,BBM,Ave_y,Econ,SR_y,5,10
0,TD Astle,1,2,42,25*,42.00,51.85,0,0,3,2/111,3/152,50.66,3.80,80.0,0,0
1,TA Blundell,8,13,402,121,33.50,45.06,1,2,0,-,-,-,4.33,-,0,0
2,TA Boult,10,8,112,38,22.40,98.24,0,0,39,4/28,6/117,27.74,2.92,57.0,0,0
3,DP Conway,1,2,73,54,36.50,36.50,0,1,-,-,-,-,-,-,-,-
4,C de Grandhomme,7,10,313,83,31.30,69.86,0,2,11,3/78,3/121,39.63,2.35,100.9,0,0
5,LH Ferguson,1,2,1,1*,-,11.11,0,0,0,-,-,-,4.27,-,0,0
6,MJ Henry,2,1,3,3,3.00,20.00,0,0,3,1/54,2/148,80.33,3.17,152.0,0,0
7,KA Jamieson,7,7,247,51*,49.40,73.51,0,1,43,6/48,11/117,12.53,2.18,34.3,5,1
8,TWM Latham,12,20,719,154,37.84,44.90,1,5,-,-,-,-,-,-,-,-
9,DJ Mitchell,3,3,153,102*,76.50,70.50,1,0,1,1/7,1/7,41.00,2.92,84.0,0,0
10,HM Nicholls,11,16,592,174,39.46,49.70,2,1,-,-,-,-,-,-,-,-
11,AY Patel,3,3,18,14,9.00,40.90,0,0,9,5/89,6/163,29.66,2.90,61.3,1,0
12,GD Phillips,1,2,52,52,26.00,43.69,0,1,-,-,-,-,-,-,-,-
13,JA Raval,4,7,82,33,11.71,38.13,0,0,1,1/33,1/33,33.00,2.53,78.0,0,0
14,MJ Santner,4,8,82,27,11.71,35.65,0,0,3,2/52,2/59,126.00,3.18,237.0,0,0
15,WER Somerville,3,4,56,40*,28.00,34.78,0,0,8,3/83,4/156,45.00,3.01,89.5,0,0
16,TG Southee,11,13,143,30,13.00,60.59,0,0,56,5/32,9/110,20.82,2.70,46.2,3,0
17,LRPL Taylor,12,19,527,86,32.93,53.72,0,3,-,-,-,-,-,-,-,-
18,N Wagner,8,10,138,66*,23.00,86.79,0,1,35,4/66,7/133,22.97,2.57,53.5,0,0
19,BJ Watling,11,16,418,105*,27.86,40.86,1,2,-,-,-,-,-,-,-,-
20,KS Williamson,10,16,918,251,61.20,54.06,3,2,1,1/16,1/16,26.00,3.25,48.0,0,0
21,WA Young,2,2,48,43,24.00,48.97,0,0,-,-,-,-,-,-,-,-

In [100]:
df_NZ=df25.assign(Country = ['New Zeland']*22)
df_NZ

,Player,Mat,Inns,Runs,HS,Ave_x,SR_x,100,50,Wkts,BBI,BBM,Ave_y,Econ,SR_y,5,10,Country
0,TD Astle,1,2,42,25*,42.00,51.85,0,0,3,2/111,3/152,50.66,3.80,80.0,0,0,New Zeland
1,TA Blundell,8,13,402,121,33.50,45.06,1,2,0,-,-,-,4.33,-,0,0,New Zeland
2,TA Boult,10,8,112,38,22.40,98.24,0,0,39,4/28,6/117,27.74,2.92,57.0,0,0,New Zeland
3,DP Conway,1,2,73,54,36.50,36.50,0,1,-,-,-,-,-,-,-,-,New Zeland
4,C de Grandhomme,7,10,313,83,31.30,69.86,0,2,11,3/78,3/121,39.63,2.35,100.9,0,0,New Zeland
5,LH Ferguson,1,2,1,1*,-,11.11,0,0,0,-,-,-,4.27,-,0,0,New Zeland
6,MJ Henry,2,1,3,3,3.00,20.00,0,0,3,1/54,2/148,80.33,3.17,152.0,0,0,New Zeland
7,KA Jamieson,7,7,247,51*,49.40,73.51,0,1,43,6/48,11/117,12.53,2.18,34.3,5,1,New Zeland
8,TWM Latham,12,20,719,154,37.84,44.90,1,5,-,-,-,-,-,-,-,-,New Zeland
9,DJ Mitchell,3,3,153,102*,76.50,70.50,1,0,1,1/7,1/7,41.00,2.92,84.0,0,0,New Zeland
10,HM Nicholls,11,16,592,174,39.46,49.70,2,1,-,-,-,-,-,-,-,-,New Zeland
11,AY Patel,3,3,18,14,9.00,40.90,0,0,9,5/89,6/163,29.66,2.90,61.3,1,0,New Zeland
12,GD Phillips,1,2,52,52,26.00,43.69,0,1,-,-,-,-,-,-,-,-,New Zeland
13,JA Raval,4,7,82,33,11.71,38.13,0,0,1,1/33,1/33,33.00,2.53,78.0,0,0,New Zeland
14,MJ Santner,4,8,82,27,11.71,35.65,0,0,3,2/52,2/59,126.00,3.18,237.0,0,0,New Zeland
15,WER Somerville,3,4,56,40*,28.00,34.78,0,0,8,3/83,4/156,45.00,3.01,89.5,0,0,New Zeland
16,TG Southee,11,13,143,30,13.00,60.59,0,0,56,5/32,9/110,20.82,2.70,46.2,3,0,New Zeland
17,LRPL Taylor,12,19,527,86,32.93,53.72,0,3,-,-,-,-,-,-,-,-,New Zeland
18,N Wagner,8,10,138,66*,23.00,86.79,0,1,35,4/66,7/133,22.97,2.57,53.5,0,0,New Zeland
19,BJ Watling,11,16,418,105*,27.86,40.86,1,2,-,-,-,-,-,-,-,-,New Zeland
20,KS Williamson,10,16,918,251,61.20,54.06,3,2,1,1/16,1/16,26.00,3.25,48.0,0,0,New Zeland
21,WA Young,2,2,48,43,24.00,48.97,0,0,-,-,-,-,-,-,-,-,New Zeland

# Pakistan

In [101]:
df26=pd.read_csv(r"C:\Users\Gayan\Downloads\Pakistan batting.csv")
df27=df26.drop(columns=['NO','BF','0','4s','6s'])

In [102]:
df28=pd.read_csv(r"C:\Users\Gayan\Downloads\Pakistan bowling.csv")
df29=df28.drop(columns=['Mat','Inns','Overs','Mdns','Runs','Ct','St'])

In [103]:
df30=pd.merge(df27, df29, on='Player')
df30

,Player,Mat,Inns,Runs,HS,Ave_x,SR_x,100,50,Wkts,BBI,BBM,Ave_y,Econ,SR_y,5,10
0,Abid Ali,10,17,569,174,35.56,44.62,2,1,-,-,-,-,-,-,-,-
1,Asad Shafiq,8,11,337,76,30.63,50.60,0,4,1,1/24,1/24,44.00,3.66,72.0,0,0
2,Azhar Ali,12,21,748,141*,39.36,44.33,2,2,0,-,-,-,7.71,-,0,0
3,Babar Azam,10,17,932,143,66.57,64.14,4,5,-,-,-,-,-,-,-,-
4,Faheem Ashraf,4,7,357,91,59.50,58.71,0,3,4,2/106,2/106,60.25,2.90,124.5,0,0
5,Fawad Alam,6,11,320,109,35.55,36.07,2,0,2,2/46,2/46,25.50,3.92,39.0,0,0
6,Haris Sohail,6,8,121,75,15.12,44.32,0,1,6,2/11,2/11,23.00,3.36,41.0,0,0
7,Hasan Ali,2,3,34,21,11.33,42.50,0,0,12,5/54,10/114,19.66,3.82,30.8,2,1
8,Iftikhar Ahmed,2,4,44,27,11.00,37.28,0,0,0,-,-,-,4.74,-,0,0
9,Imam-ul-Haq,1,2,2,2,1.00,8.00,0,0,-,-,-,-,-,-,-,-
10,Imran Butt,2,4,36,15,9.00,34.61,0,0,-,-,-,-,-,-,-,-
11,Imran Khan,1,2,10,5*,10.00,43.47,0,0,1,1/73,1/73,73.00,3.04,144.0,0,0
12,Mohammad Abbas,9,12,46,29,5.11,16.84,0,0,18,4/55,5/88,37.27,2.36,94.5,0,0
13,Mohammad Rizwan,12,18,741,115*,46.31,52.25,1,6,-,-,-,-,-,-,-,-
14,Muhammad Musa,1,2,16,12*,-,94.11,0,0,0,-,-,-,5.70,-,0,0
15,Naseem Shah,9,12,28,12,4.00,31.81,0,0,20,5/31,5/87,42.45,3.77,67.4,1,0
16,Nauman Ali,2,3,77,45,25.66,47.23,0,0,8,5/35,7/73,21.50,2.16,59.6,1,0
17,Shadab Khan,1,2,60,45,30.00,61.22,0,0,2,2/13,2/47,23.50,4.08,34.5,0,0
18,Shaheen Shah Afridi,12,17,62,10,4.13,26.38,0,0,36,5/77,6/128,32.63,3.03,64.4,1,0
19,Shan Masood,10,17,585,156,34.41,47.40,3,1,0,-,-,-,4.00,-,0,0
20,Usman Shinwari,1,-,-,-,-,-,-,-,1,1/54,1/54,54.00,3.60,90.0,0,0
21,Yasir Shah,10,15,335,113,23.92,53.94,1,0,32,4/58,8/165,44.21,3.67,72.1,0,0
22,Zafar Gohar,1,2,71,37,35.50,56.34,0,0,0,-,-,-,4.96,-,0,0

In [104]:
df_PAK=df30.assign(Country = ['pakistan']*23)
df_PAK

,Player,Mat,Inns,Runs,HS,Ave_x,SR_x,100,50,Wkts,BBI,BBM,Ave_y,Econ,SR_y,5,10,Country
0,Abid Ali,10,17,569,174,35.56,44.62,2,1,-,-,-,-,-,-,-,-,pakistan
1,Asad Shafiq,8,11,337,76,30.63,50.60,0,4,1,1/24,1/24,44.00,3.66,72.0,0,0,pakistan
2,Azhar Ali,12,21,748,141*,39.36,44.33,2,2,0,-,-,-,7.71,-,0,0,pakistan
3,Babar Azam,10,17,932,143,66.57,64.14,4,5,-,-,-,-,-,-,-,-,pakistan
4,Faheem Ashraf,4,7,357,91,59.50,58.71,0,3,4,2/106,2/106,60.25,2.90,124.5,0,0,pakistan
5,Fawad Alam,6,11,320,109,35.55,36.07,2,0,2,2/46,2/46,25.50,3.92,39.0,0,0,pakistan
6,Haris Sohail,6,8,121,75,15.12,44.32,0,1,6,2/11,2/11,23.00,3.36,41.0,0,0,pakistan
7,Hasan Ali,2,3,34,21,11.33,42.50,0,0,12,5/54,10/114,19.66,3.82,30.8,2,1,pakistan
8,Iftikhar Ahmed,2,4,44,27,11.00,37.28,0,0,0,-,-,-,4.74,-,0,0,pakistan
9,Imam-ul-Haq,1,2,2,2,1.00,8.00,0,0,-,-,-,-,-,-,-,-,pakistan
10,Imran Butt,2,4,36,15,9.00,34.61,0,0,-,-,-,-,-,-,-,-,pakistan
11,Imran Khan,1,2,10,5*,10.00,43.47,0,0,1,1/73,1/73,73.00,3.04,144.0,0,0,pakistan
12,Mohammad Abbas,9,12,46,29,5.11,16.84,0,0,18,4/55,5/88,37.27,2.36,94.5,0,0,pakistan
13,Mohammad Rizwan,12,18,741,115*,46.31,52.25,1,6,-,-,-,-,-,-,-,-,pakistan
14,Muhammad Musa,1,2,16,12*,-,94.11,0,0,0,-,-,-,5.70,-,0,0,pakistan
15,Naseem Shah,9,12,28,12,4.00,31.81,0,0,20,5/31,5/87,42.45,3.77,67.4,1,0,pakistan
16,Nauman Ali,2,3,77,45,25.66,47.23,0,0,8,5/35,7/73,21.50,2.16,59.6,1,0,pakistan
17,Shadab Khan,1,2,60,45,30.00,61.22,0,0,2,2/13,2/47,23.50,4.08,34.5,0,0,pakistan
18,Shaheen Shah Afridi,12,17,62,10,4.13,26.38,0,0,36,5/77,6/128,32.63,3.03,64.4,1,0,pakistan
19,Shan Masood,10,17,585,156,34.41,47.40,3,1,0,-,-,-,4.00,-,0,0,pakistan
20,Usman Shinwari,1,-,-,-,-,-,-,-,1,1/54,1/54,54.00,3.60,90.0,0,0,pakistan
21,Yasir Shah,10,15,335,113,23.92,53.94,1,0,32,4/58,8/165,44.21,3.67,72.1,0,0,pakistan
22,Zafar Gohar,1,2,71,37,35.50,56.34,0,0,0,-,-,-,4.96,-,0,0,pakistan

# South Africa

In [105]:
df31=pd.read_csv(r"C:\Users\Gayan\Downloads\South Africa batting.csv")
df32=df31.drop(columns=['Span','NO','BF','0','4s','6s'])

In [106]:
df33=pd.read_csv(r"C:\Users\Gayan\Downloads\South Africa bowling.csv")
df34=df33.drop(columns=['Span','Mat','Inns','Overs','Mdns','Runs','Ct','St'])

In [107]:
df35=pd.merge(df32, df34, on='Player')
df35

,Player,Mat,Inns,Runs,HS,Ave_x,SR_x,100,50,Wkts,BBI,BBM,Ave_y,Econ,SR_y,5,10
0,T Bavuma,8,14,381,71,29.30,46.69,0,2,-,-,-,-,-,-,-,-
1,TB de Bruyn,3,5,82,30,16.40,46.85,0,0,-,-,-,-,-,-,-,-
2,Q de Kock,13,23,847,141*,38.50,66.12,2,5,-,-,-,-,-,-,-,-
3,F du Plessis,11,20,555,199,27.75,48.17,1,2,-,-,-,-,-,-,-,-
4,D Elgar,13,24,935,160,42.50,54.45,2,4,1,1/4,1/4,42.00,5.86,43.0,0,0
5,BE Hendricks,1,2,9,5*,9.00,50.00,0,0,6,5/64,6/175,29.16,4.54,38.5,1,0
6,H Klaasen,1,2,11,6,5.50,32.35,0,0,-,-,-,-,-,-,-,-
7,GF Linde,3,6,135,37,22.50,52.94,0,0,9,5/64,5/68,28.00,3.19,52.5,1,0
8,KA Maharaj,11,19,293,73,15.42,46.65,0,3,35,5/36,7/83,42.65,3.19,80.1,2,0
9,PJ Malan,3,6,156,84,26.00,29.43,0,1,0,-,-,-,2.50,-,0,0
10,AK Markram,9,16,466,108,31.06,48.84,1,3,0,-,-,-,4.12,-,0,0
11,PWA Mulder,5,7,129,36,18.42,42.15,0,0,13,3/1,5/108,21.76,3.07,42.4,0,0
12,S Muthusamy,2,4,98,49*,49.00,35.25,0,0,2,1/63,1/83,90.00,4.80,112.5,0,0
13,L Ngidi,6,9,34,14*,6.80,38.63,0,0,17,5/19,5/50,26.64,3.28,48.6,1,0
14,A Nortje,12,21,115,40,6.76,23.90,0,0,47,6/56,8/120,28.10,3.63,46.4,3,0
15,D Paterson,2,4,43,39*,43.00,87.75,0,0,4,2/86,3/104,41.50,2.87,86.7,0,0
16,KD Petersen,2,3,44,19,14.66,49.43,0,0,-,-,-,-,-,-,-,-
17,VD Philander,6,12,241,46,24.10,36.68,0,0,10,4/16,4/51,36.80,2.27,97.1,0,0
18,DL Piedt,2,4,83,56,20.75,41.91,0,1,2,1/101,1/101,155.00,5.74,162.0,0,0
19,D Pretorius,3,6,83,37,13.83,50.92,0,0,7,2/26,3/82,36.00,3.15,68.5,0,0
20,K Rabada,10,19,186,40,12.40,62.20,0,0,37,5/34,7/171,27.37,3.10,52.8,1,0
21,L Sipamla,2,2,5,5,2.50,25.00,0,0,10,4/76,6/100,16.70,4.19,23.9,0,0
22,HE van der Dussen,10,17,610,98,38.12,43.17,0,6,-,-,-,-,-,-,-,-
23,K Verreynne,2,3,39,27,13.00,33.62,0,0,-,-,-,-,-,-,-,-
24,Zubayr Hamza,4,8,140,62,17.50,51.85,0,1,-,-,-,-,-,-,-,-

In [108]:
df_SF=df35.assign(Country = ['South Africa']*25)
df_SF

,Player,Mat,Inns,Runs,HS,Ave_x,SR_x,100,50,Wkts,BBI,BBM,Ave_y,Econ,SR_y,5,10,Country
0,T Bavuma,8,14,381,71,29.30,46.69,0,2,-,-,-,-,-,-,-,-,South Africa
1,TB de Bruyn,3,5,82,30,16.40,46.85,0,0,-,-,-,-,-,-,-,-,South Africa
2,Q de Kock,13,23,847,141*,38.50,66.12,2,5,-,-,-,-,-,-,-,-,South Africa
3,F du Plessis,11,20,555,199,27.75,48.17,1,2,-,-,-,-,-,-,-,-,South Africa
4,D Elgar,13,24,935,160,42.50,54.45,2,4,1,1/4,1/4,42.00,5.86,43.0,0,0,South Africa
5,BE Hendricks,1,2,9,5*,9.00,50.00,0,0,6,5/64,6/175,29.16,4.54,38.5,1,0,South Africa
6,H Klaasen,1,2,11,6,5.50,32.35,0,0,-,-,-,-,-,-,-,-,South Africa
7,GF Linde,3,6,135,37,22.50,52.94,0,0,9,5/64,5/68,28.00,3.19,52.5,1,0,South Africa
8,KA Maharaj,11,19,293,73,15.42,46.65,0,3,35,5/36,7/83,42.65,3.19,80.1,2,0,South Africa
9,PJ Malan,3,6,156,84,26.00,29.43,0,1,0,-,-,-,2.50,-,0,0,South Africa
10,AK Markram,9,16,466,108,31.06,48.84,1,3,0,-,-,-,4.12,-,0,0,South Africa
11,PWA Mulder,5,7,129,36,18.42,42.15,0,0,13,3/1,5/108,21.76,3.07,42.4,0,0,South Africa
12,S Muthusamy,2,4,98,49*,49.00,35.25,0,0,2,1/63,1/83,90.00,4.80,112.5,0,0,South Africa
13,L Ngidi,6,9,34,14*,6.80,38.63,0,0,17,5/19,5/50,26.64,3.28,48.6,1,0,South Africa
14,A Nortje,12,21,115,40,6.76,23.90,0,0,47,6/56,8/120,28.10,3.63,46.4,3,0,South Africa
15,D Paterson,2,4,43,39*,43.00,87.75,0,0,4,2/86,3/104,41.50,2.87,86.7,0,0,South Africa
16,KD Petersen,2,3,44,19,14.66,49.43,0,0,-,-,-,-,-,-,-,-,South Africa
17,VD Philander,6,12,241,46,24.10,36.68,0,0,10,4/16,4/51,36.80,2.27,97.1,0,0,South Africa
18,DL Piedt,2,4,83,56,20.75,41.91,0,1,2,1/101,1/101,155.00,5.74,162.0,0,0,South Africa
19,D Pretorius,3,6,83,37,13.83,50.92,0,0,7,2/26,3/82,36.00,3.15,68.5,0,0,South Africa
20,K Rabada,10,19,186,40,12.40,62.20,0,0,37,5/34,7/171,27.37,3.10,52.8,1,0,South Africa
21,L Sipamla,2,2,5,5,2.50,25.00,0,0,10,4/76,6/100,16.70,4.19,23.9,0,0,South Africa
22,HE van der Dussen,10,17,610,98,38.12,43.17,0,6,-,-,-,-,-,-,-,-,South Africa
23,K Verreynne,2,3,39,27,13.00,33.62,0,0,-,-,-,-,-,-,-,-,South Africa
24,Zubayr Hamza,4,8,140,62,17.50,51.85,0,1,-,-,-,-,-,-,-,-,South Africa

# Sri Lanka

In [109]:
df36=pd.read_csv(r"C:\Users\Gayan\Downloads\SL batting.csv")
df37=df36.drop(columns=['Span','NO','BF','0','4s','6s'])

In [110]:
df38=pd.read_csv(r"C:\Users\Gayan\Downloads\SL bowling.csv")
df39=df38.drop(columns=['Span','Mat','Inns','Overs','Mdns','Runs','Ct','St'])

In [111]:
df40=pd.merge(df37, df39, on='Player')
df40

,Player,Mat,Inns,Runs,HS,Ave_x,SR_x,100,50,Wkts,BBI,BBM,Ave_y,Econ,SR_y,5,10
0,M Bhanuka,1,2,6,5,3.00,35.29,0,0,-,-,-,-,-,-,-,-
1,PVD Chameera,3,5,32,22,6.40,39.50,0,0,8,3/69,5/143,38.87,3.33,69.8,0,0
2,LD Chandimal,7,13,359,85,29.91,44.21,0,3,-,-,-,-,-,-,-,-
3,A Dananjaya,1,1,0,0,0.00,0.00,0,0,6,5/80,6/164,27.33,2.64,62.0,1,0
4,DM de Silva,9,14,653,166,59.36,57.68,3,2,6,3/25,3/45,78.66,3.16,149.0,0,0
5,PWH de Silva,4,7,196,59,28.00,86.34,0,1,4,4/171,4/171,100.75,3.58,168.5,0,0
6,N Dickwella,12,20,753,96,39.63,59.15,0,6,-,-,-,-,-,-,-,-
7,L Embuldeniya,7,12,88,40,8.00,44.22,0,0,30,7/137,10/210,40.96,3.35,73.3,1,1
8,AM Fernando,3,6,4,4,1.33,12.50,0,0,4,2/44,2/44,39.00,3.31,70.5,0,0
9,BOP Fernando,7,12,430,102,39.09,46.63,1,3,0,-,-,-,3.00,-,0,0
10,MVT Fernando,8,10,9,5*,2.25,11.11,0,0,19,5/101,5/124,42.94,3.52,73.1,1,0
11,P Jayawickrama,1,1,3,3*,-,60.00,0,0,11,6/92,11/178,16.18,2.78,34.9,2,1
12,FDM Karunaratne,10,18,999,244,55.50,53.33,4,4,0,-,-,-,6.00,-,0,0
13,CBRLS Kumara,6,7,5,5*,2.50,13.15,0,0,12,4/49,6/188,50.66,3.91,77.5,0,0
14,RAS Lakmal,7,10,126,40,15.75,44.36,0,0,20,5/47,6/156,25.55,2.46,62.2,1,0
15,AD Mathews,8,14,405,110,31.15,40.99,1,2,0,-,-,-,2.33,-,0,0
16,BKG Mendis,7,13,165,53,12.69,41.35,0,1,0,-,-,-,6.87,-,0,0
17,RTM Mendis,2,4,57,33,14.25,53.27,0,0,8,4/103,6/189,35.62,3.35,63.7,0,0
18,P Nissanka,4,6,229,103,38.16,42.96,1,1,-,-,-,-,-,-,-,-
19,MDK Perera,5,9,177,67,22.12,42.65,0,1,8,4/109,4/143,73.00,3.20,136.6,0,0
20,MDKJ Perera,6,12,267,64,22.25,67.42,0,3,-,-,-,-,-,-,-,-
21,CAK Rajitha,2,2,12,12,6.00,15.78,0,0,1,1/5,1/5,21.00,2.57,49.0,0,0
22,MD Shanaka,3,6,111,66*,22.20,51.38,0,1,4,2/42,2/50,42.50,3.15,80.7,0,0
23,HDRL Thirimanne,9,17,735,140,43.23,41.83,2,5,-,-,-,-,-,-,-,-

In [112]:
df_SL=df40.assign(Country = ['Sri Lanka']*24)
df_SL

,Player,Mat,Inns,Runs,HS,Ave_x,SR_x,100,50,Wkts,BBI,BBM,Ave_y,Econ,SR_y,5,10,Country
0,M Bhanuka,1,2,6,5,3.00,35.29,0,0,-,-,-,-,-,-,-,-,Sri Lanka
1,PVD Chameera,3,5,32,22,6.40,39.50,0,0,8,3/69,5/143,38.87,3.33,69.8,0,0,Sri Lanka
2,LD Chandimal,7,13,359,85,29.91,44.21,0,3,-,-,-,-,-,-,-,-,Sri Lanka
3,A Dananjaya,1,1,0,0,0.00,0.00,0,0,6,5/80,6/164,27.33,2.64,62.0,1,0,Sri Lanka
4,DM de Silva,9,14,653,166,59.36,57.68,3,2,6,3/25,3/45,78.66,3.16,149.0,0,0,Sri Lanka
5,PWH de Silva,4,7,196,59,28.00,86.34,0,1,4,4/171,4/171,100.75,3.58,168.5,0,0,Sri Lanka
6,N Dickwella,12,20,753,96,39.63,59.15,0,6,-,-,-,-,-,-,-,-,Sri Lanka
7,L Embuldeniya,7,12,88,40,8.00,44.22,0,0,30,7/137,10/210,40.96,3.35,73.3,1,1,Sri Lanka
8,AM Fernando,3,6,4,4,1.33,12.50,0,0,4,2/44,2/44,39.00,3.31,70.5,0,0,Sri Lanka
9,BOP Fernando,7,12,430,102,39.09,46.63,1,3,0,-,-,-,3.00,-,0,0,Sri Lanka
10,MVT Fernando,8,10,9,5*,2.25,11.11,0,0,19,5/101,5/124,42.94,3.52,73.1,1,0,Sri Lanka
11,P Jayawickrama,1,1,3,3*,-,60.00,0,0,11,6/92,11/178,16.18,2.78,34.9,2,1,Sri Lanka
12,FDM Karunaratne,10,18,999,244,55.50,53.33,4,4,0,-,-,-,6.00,-,0,0,Sri Lanka
13,CBRLS Kumara,6,7,5,5*,2.50,13.15,0,0,12,4/49,6/188,50.66,3.91,77.5,0,0,Sri Lanka
14,RAS Lakmal,7,10,126,40,15.75,44.36,0,0,20,5/47,6/156,25.55,2.46,62.2,1,0,Sri Lanka
15,AD Mathews,8,14,405,110,31.15,40.99,1,2,0,-,-,-,2.33,-,0,0,Sri Lanka
16,BKG Mendis,7,13,165,53,12.69,41.35,0,1,0,-,-,-,6.87,-,0,0,Sri Lanka
17,RTM Mendis,2,4,57,33,14.25,53.27,0,0,8,4/103,6/189,35.62,3.35,63.7,0,0,Sri Lanka
18,P Nissanka,4,6,229,103,38.16,42.96,1,1,-,-,-,-,-,-,-,-,Sri Lanka
19,MDK Perera,5,9,177,67,22.12,42.65,0,1,8,4/109,4/143,73.00,3.20,136.6,0,0,Sri Lanka
20,MDKJ Perera,6,12,267,64,22.25,67.42,0,3,-,-,-,-,-,-,-,-,Sri Lanka
21,CAK Rajitha,2,2,12,12,6.00,15.78,0,0,1,1/5,1/5,21.00,2.57,49.0,0,0,Sri Lanka
22,MD Shanaka,3,6,111,66*,22.20,51.38,0,1,4,2/42,2/50,42.50,3.15,80.7,0,0,Sri Lanka
23,HDRL Thirimanne,9,17,735,140,43.23,41.83,2,5,-,-,-,-,-,-,-,-,Sri Lanka

# West Indian

In [113]:
df41=pd.read_csv(r"C:\Users\Gayan\Downloads\WI batting.csv")
df42=df41.drop(columns=['Span','NO','BF','0','4s','6s'])

In [114]:
df43=pd.read_csv(r"C:\Users\Gayan\Downloads\WI bowling.csv")
df44=df43.drop(columns=['Span','Mat','Inns','Overs','Mdns','Runs','Ct','St'])

In [115]:
df45=pd.merge(df42, df44, on='Player')
df45

,Player,Mat,Inns,Runs,HS,Ave_x,SR_x,100,50,Wkts,BBI,BBM,Ave_y,Econ,SR_y,5,10
0,J Blackwood,12,23,709,104,30.82,53.63,1,4,1,1/16,1/33,36.00,3.27,66.0,0,0
1,NE Bonner,5,8,385,113*,55.00,38.19,1,2,1,1/16,1/29,46.00,5.75,48.0,0,0
2,KC Brathwaite,13,26,673,126,25.88,39.61,1,4,5,3/25,3/32,35.40,3.11,68.2,0,0
3,DM Bravo,4,8,79,23*,11.28,45.66,0,0,-,-,-,-,-,-,-,-
4,SSJ Brooks,7,14,311,68,22.21,42.14,0,3,-,-,-,-,-,-,-,-
5,JD Campbell,11,22,390,68,18.57,45.61,0,1,0,-,-,-,3.33,-,0,0
6,RL Chase,9,17,320,62,18.82,39.70,0,2,18,5/172,6/190,44.44,3.52,75.6,1,0
7,RRS Cornwall,7,12,181,73,18.10,66.54,0,2,22,5/74,9/179,46.00,2.82,97.5,1,0
8,ML Cummins,1,2,19,19*,19.00,28.35,0,0,0,-,-,-,3.45,-,0,0
9,J Da Silva,7,13,317,92,26.41,38.70,0,2,-,-,-,-,-,-,-,-
10,SO Dowrich,4,6,126,61,21.00,53.38,0,1,-,-,-,-,-,-,-,-
11,ST Gabriel,12,20,21,8,2.33,21.64,0,0,30,5/75,9/137,39.53,3.42,69.3,1,0
12,JN Hamilton,1,2,5,5,2.50,8.19,0,0,-,-,-,-,-,-,-,-
13,SO Hetmyer,2,4,71,35,17.75,58.67,0,0,-,-,-,-,-,-,-,-
14,CK Holder,1,2,21,13*,-,56.75,0,0,2,2/110,2/110,55.00,4.23,78.0,0,0
15,JO Holder,11,22,493,71*,27.38,55.26,0,2,31,6/42,7/91,29.03,2.39,72.8,3,0
16,SD Hope,6,12,203,43,16.91,37.52,0,0,-,-,-,-,-,-,-,-
17,JNT Seales,2,4,10,7,3.33,27.02,0,0,5,3/75,3/75,30.60,3.00,61.2,0,0
18,AS Joseph,7,11,289,86,26.27,74.29,0,2,13,3/109,3/97,52.15,3.51,89.0,0,0
19,KR Mayers,6,12,521,210*,47.36,62.62,1,2,10,3/24,6/52,16.70,2.19,45.6,0,0
20,S Moseley,2,4,28,12,7.00,26.66,0,0,-,-,-,-,-,-,-,-
21,KOA Powell,2,3,70,51,23.33,45.16,0,1,-,-,-,-,-,-,-,-
22,KAJ Roach,11,19,133,38,9.50,40.30,0,0,39,4/52,7/97,27.07,2.73,59.4,0,0
23,JA Warrican,2,3,8,4,2.66,25.80,0,0,10,4/133,7/190,28.50,2.98,57.2,0,0

In [116]:
df_WI=df45.assign(Country = ['West Indian']*24)
df_WI

,Player,Mat,Inns,Runs,HS,Ave_x,SR_x,100,50,Wkts,BBI,BBM,Ave_y,Econ,SR_y,5,10,Country
0,J Blackwood,12,23,709,104,30.82,53.63,1,4,1,1/16,1/33,36.00,3.27,66.0,0,0,West Indian
1,NE Bonner,5,8,385,113*,55.00,38.19,1,2,1,1/16,1/29,46.00,5.75,48.0,0,0,West Indian
2,KC Brathwaite,13,26,673,126,25.88,39.61,1,4,5,3/25,3/32,35.40,3.11,68.2,0,0,West Indian
3,DM Bravo,4,8,79,23*,11.28,45.66,0,0,-,-,-,-,-,-,-,-,West Indian
4,SSJ Brooks,7,14,311,68,22.21,42.14,0,3,-,-,-,-,-,-,-,-,West Indian
5,JD Campbell,11,22,390,68,18.57,45.61,0,1,0,-,-,-,3.33,-,0,0,West Indian
6,RL Chase,9,17,320,62,18.82,39.70,0,2,18,5/172,6/190,44.44,3.52,75.6,1,0,West Indian
7,RRS Cornwall,7,12,181,73,18.10,66.54,0,2,22,5/74,9/179,46.00,2.82,97.5,1,0,West Indian
8,ML Cummins,1,2,19,19*,19.00,28.35,0,0,0,-,-,-,3.45,-,0,0,West Indian
9,J Da Silva,7,13,317,92,26.41,38.70,0,2,-,-,-,-,-,-,-,-,West Indian
10,SO Dowrich,4,6,126,61,21.00,53.38,0,1,-,-,-,-,-,-,-,-,West Indian
11,ST Gabriel,12,20,21,8,2.33,21.64,0,0,30,5/75,9/137,39.53,3.42,69.3,1,0,West Indian
12,JN Hamilton,1,2,5,5,2.50,8.19,0,0,-,-,-,-,-,-,-,-,West Indian
13,SO Hetmyer,2,4,71,35,17.75,58.67,0,0,-,-,-,-,-,-,-,-,West Indian
14,CK Holder,1,2,21,13*,-,56.75,0,0,2,2/110,2/110,55.00,4.23,78.0,0,0,West Indian
15,JO Holder,11,22,493,71*,27.38,55.26,0,2,31,6/42,7/91,29.03,2.39,72.8,3,0,West Indian
16,SD Hope,6,12,203,43,16.91,37.52,0,0,-,-,-,-,-,-,-,-,West Indian
17,JNT Seales,2,4,10,7,3.33,27.02,0,0,5,3/75,3/75,30.60,3.00,61.2,0,0,West Indian
18,AS Joseph,7,11,289,86,26.27,74.29,0,2,13,3/109,3/97,52.15,3.51,89.0,0,0,West Indian
19,KR Mayers,6,12,521,210*,47.36,62.62,1,2,10,3/24,6/52,16.70,2.19,45.6,0,0,West Indian
20,S Moseley,2,4,28,12,7.00,26.66,0,0,-,-,-,-,-,-,-,-,West Indian
21,KOA Powell,2,3,70,51,23.33,45.16,0,1,-,-,-,-,-,-,-,-,West Indian
22,KAJ Roach,11,19,133,38,9.50,40.30,0,0,39,4/52,7/97,27.07,2.73,59.4,0,0,West Indian
23,JA Warrican,2,3,8,4,2.66,25.80,0,0,10,4/133,7/190,28.50,2.98,57.2,0,0,West Indian

# Combined data set

In [118]:
df_list = [df_AUS, df_BAN,df_ENG,df_IND,df_NZ,df_PAK,df_SF,df_SL,df_WI]
df_RWTC = pd.concat(df_list)
df_RWTC

,Player,Mat,Inns,Runs,HS,Ave_x,SR_x,100,50,Wkts,BBI,BBM,Ave_y,Econ,SR_y,5,10,Country
0,CT Bancroft,2,4,44,16,11,27.16,0,0,-,-,-,-,-,-,-,-,Australia
1,JA Burns,7,12,319,97,29,46.7,0,3,-,-,-,-,-,-,-,-,Australia
2,PJ Cummins,14,20,180,28,10.58,31.69,0,0,70,5/28,7/69,21.02,2.64,47.6,1,0,Australia
3,C Green,4,7,236,84,33.71,40.68,0,1,0,-,-,-,2.68,-,0,0,Australia
4,MS Harris,4,8,101,38,12.62,44.69,0,0,-,-,-,-,-,-,-,-,Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,KR Mayers,6,12,521,210*,47.36,62.62,1,2,10,3/24,6/52,16.70,2.19,45.6,0,0,West Indian
20,S Moseley,2,4,28,12,7.00,26.66,0,0,-,-,-,-,-,-,-,-,West Indian
21,KOA Powell,2,3,70,51,23.33,45.16,0,1,-,-,-,-,-,-,-,-,West Indian
22,KAJ Roach,11,19,133,38,9.50,40.3,0,0,39,4/52,7/97,27.07,2.73,59.4,0,0,West Indian
23,JA Warrican,2,3,8,4,2.66,25.8,0,0,10,4/133,7/190,28.50,2.98,57.2,0,0,West Indian

# Reset Index Number

In [124]:
df_WTC1= df_RWTC.reset_index(drop=True)
df_WTC1

,Player,Mat,Inns,Runs,HS,Ave_x,SR_x,100,50,Wkts,BBI,BBM,Ave_y,Econ,SR_y,5,10,Country
0,CT Bancroft,2,4,44,16,11,27.16,0,0,-,-,-,-,-,-,-,-,Australia
1,JA Burns,7,12,319,97,29,46.7,0,3,-,-,-,-,-,-,-,-,Australia
2,PJ Cummins,14,20,180,28,10.58,31.69,0,0,70,5/28,7/69,21.02,2.64,47.6,1,0,Australia
3,C Green,4,7,236,84,33.71,40.68,0,1,0,-,-,-,2.68,-,0,0,Australia
4,MS Harris,4,8,101,38,12.62,44.69,0,0,-,-,-,-,-,-,-,-,Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,KR Mayers,6,12,521,210*,47.36,62.62,1,2,10,3/24,6/52,16.70,2.19,45.6,0,0,West Indian
204,S Moseley,2,4,28,12,7.00,26.66,0,0,-,-,-,-,-,-,-,-,West Indian
205,KOA Powell,2,3,70,51,23.33,45.16,0,1,-,-,-,-,-,-,-,-,West Indian
206,KAJ Roach,11,19,133,38,9.50,40.3,0,0,39,4/52,7/97,27.07,2.73,59.4,0,0,West Indian
207,JA Warrican,2,3,8,4,2.66,25.8,0,0,10,4/133,7/190,28.50,2.98,57.2,0,0,West Indian

# Replace Missing Values from 0

In [125]:
df_WTC=df_WTC1.replace(to_replace ="-",value =0)
df_WTC

,Player,Mat,Inns,Runs,HS,Ave_x,SR_x,100,50,Wkts,BBI,BBM,Ave_y,Econ,SR_y,5,10,Country
0,CT Bancroft,2,4,44,16,11,27.16,0,0,0,0,0,0,0,0,0,0,Australia
1,JA Burns,7,12,319,97,29,46.7,0,3,0,0,0,0,0,0,0,0,Australia
2,PJ Cummins,14,20,180,28,10.58,31.69,0,0,70,5/28,7/69,21.02,2.64,47.6,1,0,Australia
3,C Green,4,7,236,84,33.71,40.68,0,1,0,0,0,0,2.68,0,0,0,Australia
4,MS Harris,4,8,101,38,12.62,44.69,0,0,0,0,0,0,0,0,0,0,Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,KR Mayers,6,12,521,210*,47.36,62.62,1,2,10,3/24,6/52,16.70,2.19,45.6,0,0,West Indian
204,S Moseley,2,4,28,12,7.00,26.66,0,0,0,0,0,0,0,0,0,0,West Indian
205,KOA Powell,2,3,70,51,23.33,45.16,0,1,0,0,0,0,0,0,0,0,West Indian
206,KAJ Roach,11,19,133,38,9.50,40.3,0,0,39,4/52,7/97,27.07,2.73,59.4,0,0,West Indian
207,JA Warrican,2,3,8,4,2.66,25.8,0,0,10,4/133,7/190,28.50,2.98,57.2,0,0,West Indian

# Convert to Excel file

In [126]:
df_WTC.to_excel (r'C:\Users\Gayan\Downloads\WTC.xlsx', index = None, header=True)

In [ ]:
df_1=pd.read_excel(r"C:\Users\Gayan\Desktop\WTC.xlsx")

In [ ]:
df_1.isna().any()

In [ ]:
df_2=df_1.fillna(0)
df_2.head()

In [ ]:
df_2.to_excel (r'C:\Users\Gayan\Downloads\WTC_AD.xlsx', index = None, header=True)